body {
    background-color: blue;
}
h1 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    color: rgb(255, 255, 255);
}

p {
    color: white;
}