body {
    background-color: blue;
}
h1 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    color: rgb(255, 255, 255);
}

p {
    color: white;
}

@media only screen and (max-width: 480px) {
    body {
        background-color: brown;
    }

    h1 {
        color: white;
    }
    
    ul li {
        color: black;
    }

    p {
        color: black;
    }
}